<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bj_pogi.deprestylefinalfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/logo_ds"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".VideoExercise4Activity"/>
        <activity android:name=".VideoExercise3Activity" />
        <activity android:name=".VideoExercise2Activity" />
        <activity android:name=".VidEx1Activity" />
        <activity android:name=".VideoExerciseActivity" />
        <activity android:name=".Video4Activity" />
        <activity android:name=".Video6Activity" />
        <activity android:name=".Video5Activity" />
        <activity android:name=".Video3Activity" />
        <activity android:name=".VideoTestimoniesActivity" />
        <activity android:name=".Video2Activity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".OtherMentalActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".WebsiteActivity" />
        <activity android:name=".HotlineActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".SelfCareActivity" />
        <activity android:name=".FitnessActivity" />
        <activity android:name=".FactsActivity" />
        <activity android:name=".MentalActivity" />
        <activity android:name=".PhysicalActivity" />
        <activity android:name=".Facts.DepressionActivity" />
        <activity android:name=".Facts.SymptomActivity" />
        <activity android:name=".Facts.RiskFactorActivity" />
        <activity android:name=".Facts.ComplicationActivity" />
        <activity android:name=".Facts.PreventionActivity" />
        <activity android:name=".SelfLove.LookAfterYourselfActivity" />
        <activity android:name=".SelfLove.PracticeSelfCareActivity" />
        <activity android:name=".SelfLove.KeepActiveActivity" />
        <activity android:name=".SelfLove.ChallengeLowMoodActivity" />
        <activity android:name=".SelfLove.ConnectWithPeopleActivity" />
        <activity android:name=".BeforeTestActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FirebaseJournal" />
        <activity android:name=".FirebaseJournal2" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".FirebaseHistory" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ControllerClass" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.bj_pogi.deprestylefinalfinal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>